<div class="absolute s-4 bottom-[10%]" style="">
    <div class="flex relative bottom-0 items-center justify-center bg-blue-200" style="bottom: 0%; left: 0%;">
            <span class="text-4xl font-bold">
                📝
            </span>
    </div>
</div>