<div class="container mt-3 mb-3 bg-blue-500 hidden">
    <div class="alert alert-info" role="alert">
        <div class="mt-2 grid grid-cols-3">
            <div class="flex justify-start items-center flex-grow-1 flex-lg-grow-1" style="min-width: 200px">
                <i class="text-3xl fw-bold {% if inspection.type == 'inspeccion' %}bi bi-folder2-open{% else %}bi bi-pencil-square{% endif %}"></i>
                <p class="ms-2 card-text" style="width: 200px;">
                    <span class="text-warning">{{ inspection.time }}</span>
                </p>
            </div>
            <div class="flex justify-start items-start"></div>
            <div class="flex justify-end items-center">
                <span class="badge bg-primary rounded-circle" style="width: 30px; height: 30px; padding: 6px; line-height: 1;">{{ inspection.initials }}</span>
                <span class="badge bg-danger ml-2" style="width: 100px; height: 30px; padding: 6px; line-height: 1;">{{ inspection.status }}</span>
            </div>
        </div>
        <div class="grid grid-cols-2 justify-start align-items-start">
            <h4 class="text-md card-title justify-content-start items-start" style="width: 200px;">{{ inspection.address }}</h4>
        </div>
    </div>
</div>