<div class="
flex row w-full
items-center justify-between
border-indigo-200 border-t-2
p-2
">
    {% block form_submit %}
        <div class="row">
            <a id="prev-btn" type="submit" class="btn btn-ghost md:text-lg"
               href="{{ path('inspection_form_step', {'inspection_id': inspection_id, 'step': 1}) }}"
            >Volver</a>
            {% if not inspection.closed  %}
                <button id="next-btn" type="submit" class="btn btn-primary md:text-lg">Finalizar</button>
            {% endif %}
        </div>
    {% endblock %}
    {% block more_actions %}
        <div class="row ">
            {% if inspection.closed  %}
                {% include '/inspection/v1/inspection_summary/partials/_more_acta_actions_dropdown.html.twig' %}
            {%  endif %}
        </div>
    {% endblock %}
</div>