<!-- Modal para adjuntar comprobante -->
<div id="comprobanteModal" class="fixed inset-0 z-50 hidden items-center justify-center bg-black bg-opacity-50">
    <div class="bg-white rounded-lg shadow-lg p-6 w-96">
        <h2 class="text-lg font-semibold mb-4">¿Desea adjuntar un comprobante?</h2>

        <!-- Componente de subida de archivo con ícono de clip -->
        <div id="uploadWrapper" class="
        z-9999
            relative flex justify-center items-center
            border-2 border-dashed border-gray-300 rounded-lg
            h-32 cursor-pointer bg-gray-100 hover:bg-gray-200
            transition duration-300 ease-in-out">

            <i id="uploadIcon" class="fas fa-paperclip text-gray-500 text-4xl"></i>

            <input type="file" id="fileInput" class="hidden" />

        </div>

        <div class="flex justify-center mt-4">
            <button id="continuarBtn" class="
                px-6 py-3 hover:bg-blue-600
                text-blue-500 text-bold text-lg font-semibold
                transition duration-300 ease-in-out">
                No, continuar
            </button>
        </div>
    </div>
</div>
