<!-- Modal de Confirmaci贸n de Sanci贸n -->
<div id="confirmacionSancionModal" class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
    <div class="bg-white rounded-lg shadow-lg p-6 w-96 my-64 md:w-[550px]">
        <h2 class="text-lg font-semibold mb-4 flex items-center justify-between">
            <span></span>
            驴Cu谩l ser谩 la sanci贸n?
            <span>锔</span>
        </h2>

        <!-- Detalles de la sanci贸n -->
        <div class="flex-1 overflow-y-auto overflow-x-hidden">

            <!-- Tipo de sanci贸n -->
            <div class="flex hidden items-center space-x-2">
                <i class="fas fa-exclamation-triangle text-yellow-500"></i>
                <p class="text-sm text-gray-600">Tipo de sanci贸n:
                    <span class="text-yellow-600 font-semibold">Multa econ贸mica</span>
                </p>
            </div>

            <!-- Monto de la sanci贸n -->
            <div class="flex hidden items-center space-x-2">
                <i class="fas fa-dollar-sign text-green-500"></i>
                <p class="text-sm text-gray-600">Monto a pagar:
                    <span class="text-green-600 font-semibold">$5,000</span>
                </p>
            </div>

            <!-- Nota aclaratoria con lista de instrucciones -->
            <div class="mt-0 px-4 py-4 border border-red-300 bg-red-50 rounded-lg text-sm flex flex-col max-h-[100vw] sm:max-h-64 overflow-y-scroll overflow-x-hidden    ">
                <p class="hidden text-sm text-gray-700 font-semibold mb-2">Instrucciones:</p>
                <ul class="list-disc pl-2 text-gray-700 space-y-1">
                    <li>El pago de la multa debe realizarse dentro de los pr贸ximos <span class="text-red-500 font-semibold">15 d铆as</span>.</li>
                    <li>La multa puede ser pagada en l铆nea a trav茅s del portal municipal o en cualquier sucursal bancaria.</li>
                    <li>Una vez pagada, se debe enviar el comprobante de pago a la direcci贸n de correo indicada.</li>
                    <li>Si no se cumple con el pago dentro del plazo, se aplicar谩n medidas adicionales como el cierre temporal del comercio.</li>
                    <li>El pago de la multa debe realizarse dentro de los pr贸ximos <span class="text-red-500 font-semibold">15 d铆as</span>.</li>
                    <li>La multa puede ser pagada en l铆nea a trav茅s del portal municipal o en cualquier sucursal bancaria.</li>
                    <li>Una vez pagada, se debe enviar el comprobante de pago a la direcci贸n de correo indicada.</li>
                    <li>Si no se cumple con el pago dentro del plazo, se aplicar谩n medidas adicionales como el cierre temporal del comercio.</li>
                </ul>
            </div>
        </div>

        <!-- Botones de confirmaci贸n -->
        <div class="flex flex-col justify-center mt-4 space-y-4">
            <!-- Bot贸n para confirmar la sanci贸n -->
            <button id="confirmarSancionBtn" class="bg-red-500 px-6 py-3 hover:bg-red-600 text-white text-lg font-semibold rounded-full shadow-md flex items-center justify-center transition duration-300 ease-in-out">
                <i class="fas fa-check-circle mr-2"></i>
                Confirmar Sanci贸n
            </button>

            {% if back %}
            <!-- Bot贸n para volver atr谩s -->
                <button id="volverAtrasSancionBtn" class="px-6 py-3 text-gray-500 hover:text-gray-600 text-lg font-semibold rounded-full flex items-center justify-center transition duration-300 ease-in-out">
                    <i class="fas fa-arrow-left mr-2"></i>
                    No, Volver Atr谩s
                </button>
            {% else  %}
                <button id="cancelarSancionBtn" class="px-6 py-3 text-gray-500 hover:text-gray-600 text-lg font-semibold rounded-full flex items-center justify-center transition duration-300 ease-in-out">
                    No, Cancelar
                </button>
            {% endif %}
        </div>
    </div>
</div>


<script type="module">

    //  Controlar la confirmaci贸n o vuelta atr谩s en el modal de sanci贸n
    //  si es cancelar, se cierra el modal
    document.getElementById('cancelarSancionBtn').addEventListener('click', function(e) { e.preventDefault();
        document.getElementById('confirmacionSancionModal').classList.add('hidden');
    });
</script>