<ul>
    <li><a href="#">Ver Todas las Inspecciones</a></li>
    <li><a href="#">Buscar Inspección</a></li>
    <li><a href="#">Crear Nueva Inspección</a></li>
    <li><a href="#">Ver Notificaciones</a></li>
</ul>