<div class="
flex row w-full
items-center justify-between
border-indigo-200 border-t-2
p-2
">
    {% block form_submit %}
        <div class="row">
            <button id="prev-btn" type="submit" class="btn btn-ghost md:text-lg">Anterior</button>
            <button id="next-btn" type="submit" class="btn btn-primary md:text-lg">Siguiente</button>
        </div>
    {% endblock %}
    {% block more_actions %}
        <div class="row">
            {% include '/inspection/v1/forms/partials/_more_actions_dropdown.html.twig' %}
        </div>
    {% endblock %}
</div>