<div class="flex row w-full items-end justify-end border-indigo-200 border-t-2 p-2">
    <div class="row">
        <a id="back-btn" type="button" class="btn btn-ghost md:text-lg text-lg text-blue-700 font-semibold"
           href="/fisca/home/inspector">
            Volver al Dashboard
        </a>
    </div>
    <div class="row ">
        <a id="new-inspection-btn" type="button" class="hidden  btn btn-primary md:text-lg" href="/inspection/new">Nueva Inspección</a>
    </div>
</div>
