<div class="inspections-list grid grid-cols-1 gap-4">

    <!-- Inspección Card Template -->
    {% include '/inspectores/[inspector_id]/historial/templates/_inspection_card.html.twig' %}


    <!-- Indicador de carga -->
    <div x-show="loading" class="mt-4 text-center">
        <span class="loading loading-spinner loading-md"></span>
    </div>

    <!-- Trigger para infinite scroll -->
    <div x-show="hasMoreInspections && !loading" class="mt-6 text-center">
        <div id="infinite-scroll-trigger"></div>
    </div>
</div>
