<div class="flex items-center justify-center content-center">
   <h3 class="border-b-2 font-bold border-gray-200 px-8 w-full text-center
              md:text-xl text-md">
      {{ question.group }}</h3>
</div>