<div class="w-full flex items-end content-start justify-start ">
    <h1 class="mx-0 md:ml-4 pb-1 mr-24
               content-center border-b-2 border-gray-200 px-2
               text-gray-700 font-semibold
               text-xl md:text-2xl
               min-w-64 md:min-w-96
">
        {{ question.label }}
    </h1>
</div>